
body{
  width: 62rem;
  margin: auto;
  justify-content: center;
  font-family: 'Open Sans';
}

header {
    color: white;
    background-image:url(header.jpg);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 25rem;
}

@media screen and (max-width: 768px){
  header {
    color: black;
    background-image:url(header-mini.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 15rem;
}
}

h1 {
  color: white;
  padding-top: 15%;
  padding-left: 2rem;
  text-align: left;
}


.navbar{
  background-color:#6f4789;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #6f4789;
  overflow: hidden;
}

li > a{
  color: white !important;
  text-decoration: none;
}

li {
  float: left;
}

li {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

li > a:hover {
  background-color: white;
  color: #6f4789 !important;
  border-radius: 5px;
  border-style: none;
}


.Whoweare{
  background-color: rgb(214, 213, 213);
  padding: 30px 5px 30px 5px;
  text-align: justify;
}
#Who {
  text-align: center;
  padding-bottom: 1rem;
}

#imagen1{
  float: left;
  margin-right: 5px;
  height: 150;
  width: 150;
}

.sectionServices{
  padding: 40px 15px 40px 15px;
}
#Services{
  text-align: center;
  padding-bottom: 20px;
}

i.fa-sharp {
    padding: 15px 0px 5px 15px;
    margin: 5px;
    font-size: 32px;
    color: #6f4789;
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: 3px solid grey;
    background-color: white; /* color de fondo inicial */
    z-index: 1; /* se asegura que el círculo esté por encima del icono */
  }

 i.fa-sharp:hover {
    background-color: #6f4789; /* color de fondo al pasar el ratón */
    color: white; /* color del icono al pasar el ratón */
  }

  .section4 {
    padding: 40px 5px 40px 5px;
    background-color: rgb(214, 213, 213);
    text-align: center;
  }

  /* Animacion imagenes */
#rotacion1:hover {
  transform: rotate(-15deg);
  z-index: 3;
}
#rotacion1 {
  transition: transform 1s;
  transition-timing-function: linear;
  transition-delay: 0.50s;
  z-index: 1;}
  #rotacion2:hover {
    z-index: 4;
    transform: rotate(-15deg);
}
#rotacion2 {
    transition: transform 1s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
    z-index: 2;
}
#rotacion3:hover {
    transform: rotate(-15deg);
    z-index: 5;
}
#rotacion3 {
    transition: transform 1s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
    z-index: 3;
}
#rotacion4:hover {
    transform: rotate(-15deg);
    z-index: 10;
}
#rotacion4 {
    transition: transform 1s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
    z-index: 8;
}
#rotacion5:hover {
    z-index: 11;
    transform: rotate(360deg);
    border-radius: 50%;
}
#rotacion5 {
    z-index: 9;
    transition: all 0.50s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
}
#rotacion6:hover {
    transform: rotate(-15deg);
    z-index: 6;
}
#rotacion6 {
    transition: transform 1s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
    z-index: 4;
}
#rotacion7:hover {
    transform: rotate(-15deg);
    z-index: 9;
}
#rotacion7 {
    transition: transform 1s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
    z-index: 7;
}
#rotacion8:hover {
    transform: rotate(-15deg);
    z-index: 8;
}
#rotacion8 {
    transition: transform 1s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
    z-index: 6;
}
#rotacion9:hover {
    transform: rotate(-15deg);
    z-index: 7;
}
#rotacion9 {
    transition: transform 1s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
    z-index: 5;
}

  .section5{
    padding-top: 40px;
    justify-content: center;
    text-align: center;
  }

  .map{
    border-radius: 50%;
    border: 15px solid rgb(8, 8, 8);
  }
  address > a{
    text-decoration: none;
  }

  .email{
    padding: 40px 15px 40px 15px;
    color: white;
    background-image:url(map-image.png);
    background-color: #6f4789;
    background-size: cover;
  }

.form{
  margin: 15px;
}

.form input, .form textarea {
  border-radius: 5px;
  border-style: none;
}

#Send{
  width: 150px;
}

.footer{
  text-align: right;
  background-color: #550c86;
  color: white;
}
.footer > a {
  color: white;
}