*{
    font-family: 'Open sans', sans-serif;
    margin: 0;
}
/* Cabecera */
header {
    background-image: url(../img/header.jpg);
    padding: 70px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    height: 7em;
    color: white;
    padding-left: 2%;
}
/*Menú de navegacion*/
.menu {
    width: 100%;
    height: 15%;
    background-color: #8861c8;
    display: inline-block;
}
.menu ul {
    list-style-type: none;
}
.menu ul li {
    float: left;
    text-align: center;
    margin: 1em 2em;
    width: 10%;
    height: 15%;
    line-height: 2em;
}
.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: medium;
    display: block;
}
/* Animacion menú */
.menu ul li:hover {
    background-color: white;
    border-radius: 3%;
    border: white 1px solid;
}
.menu ul li:hover a {
    color: #8861c8;
}
/* Contenido who we are */
main {
    margin-top: -4px;
}
.contenido, .folio {
    background-color: #e7e5e5;
    color: #3f3e3e;
    display: inline-block;
}
.center {
    margin-bottom: 1em;
}
/* aquí se ponen centrados varios titulos a la vez */
#Who, .center, #Services, #Port, #lugar, #correo, #formulario {
    text-align: center;
}
#Who, #Services, #Port, #lugar, #correo {
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 0.7em;
    padding-top: 0.7em;
}
.titulos, .serv {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: normal;
}
.justificado {
    text-align: justify;
    
}
/* Parte izquierda */
#izquierda {
    float: left;
    width: 45%;
    padding: 2em 0.1em 0.5em 2.5em;
    margin-top: 1em;
}
#image1 {
    float: left;
    padding-right: 0.2em;
}
/* Parte derecha */
#derecha {
    float: right;
    width: 45%;
    padding: 2em 3em 0.5em 0.3em;
    border-left: 1px solid #3f3e3e;
    margin-top: 1em;
}
#adver {
    display: block;
    margin: 0 auto;
}
/* Services */
#box3 {
    margin-bottom: 3em;
}
#arriba {
    display: flex;
    margin: 2em;
  }
#abajo {
    display: flex;
    margin: 2em;
}
.sections {
    display: inline-block;
    margin: 2em 1em;
}
/* Iconos Services */
.iconos {
    border: 9px lightgrey solid;
    color: #8861c8;
    border-radius: 50%;
    padding: 0.3em;
    height: 50px;
    position: relative;
    top: 0.7em;
}
/* Animacion iconos */
.iconos:hover {
    color: white;
    background-color: #8861c8;
    transform: scale(1.2);
}
/* Parte Portfolio */

.folio {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#Port, .center {
    display: block;
}
/* Se coloca un tamaño especifico para todas las imágenes a la vez */
.resize {
    width: 240px;
    height: 145px;
    padding-right: 0.1em;
    position: relative;
}
#galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 160px;
    justify-items: center;
}

/* Animacion imagenes */
#rotacion1:hover {
    transform: rotate(-15deg);
    z-index: 3;
}
#rotacion1 {
    transition: transform 1s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
    z-index: 1;
}
#rotacion2:hover {
    z-index: 4;
    transform: rotate(-15deg);
}
#rotacion2 {
    transition: transform 1s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
    z-index: 2;
}
#rotacion3:hover {
    transform: rotate(-15deg);
    z-index: 5;
}
#rotacion3 {
    transition: transform 1s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
    z-index: 3;
}
#rotacion4:hover {
    transform: rotate(-15deg);
    z-index: 10;
}
#rotacion4 {
    transition: transform 1s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
    z-index: 8;
}
#rotacion5:hover {
    z-index: 11;
    transform: rotate(360deg);
    border-radius: 50%;
}
#rotacion5 {
    z-index: 9;
    transition: all 0.50s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
}
#rotacion6:hover {
    transform: rotate(-15deg);
    z-index: 6;
}
#rotacion6 {
    transition: transform 1s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
    z-index: 4;
}
#rotacion7:hover {
    transform: rotate(-15deg);
    z-index: 9;
}
#rotacion7 {
    transition: transform 1s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
    z-index: 7;
}
#rotacion8:hover {
    transform: rotate(-15deg);
    z-index: 8;
}
#rotacion8 {
    transition: transform 1s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
    z-index: 6;
}
#rotacion9:hover {
    transform: rotate(-15deg);
    z-index: 7;
}
#rotacion9 {
    transition: transform 1s;
    transition-timing-function: linear;
    transition-delay: 0.50s;
    z-index: 5;
}
/* Location */
#direction {
    text-align: center;
    margin-bottom: 3em;
}
.recta {
    font-style: normal;
    color: #3f3e3e;
    margin: 1em auto 0.5em auto;
}
iframe {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    border: 2px black solid;
}
#alineado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2em;
}
.zona {
    display: inline-block;
    text-align: initial;
    width: 17%;
    margin: 2em;
}
/* Email */
#mail {
    background-image: url(../img/map-image.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #956fd3;
    padding: 1em 0 3em 0;
    color: white;
}
#formulario {
    font-weight: bold;
    margin: auto;
    width: 50%;
}
#formulario label, #formulario input, #formulario textarea {
    margin-bottom: 0.5em;
}
#formulario input, #formulario textarea {
    border-radius: 2%;
    border-style: none;
}
#formulario label {
    display: inline-block;
    width: 16%;
    text-align: left;
    vertical-align: top;
}
input[type="submit"] {
    width: 25%;
    position: relative;
    left: 7%;
}
/* Footer */
footer {
    text-align: end;
    color: white;
    background-color: #8861c8;
    width: 100%;
}
footer a {
    color: white;
}